doctype html
html
  head
    title= title
    meta(name="google-signin-client_id", content="748960406594-l0rgulrbco42rn6j0g7ssr887dop65pr.apps.googleusercontent.com")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://apis.google.com/js/platform.js",async,defer)
    script#marker-content-info-template(type='text/x-handlebars-template').
      <div class="location-info">
        <h1 class="firstHeading"><a href="{{link}}">{{title}}</a></h1>
        <div>Votes: <span class="vote-count">{{votes}}</span> <button class="plus1" onclick="voteFor({{id}}, this)">+1</button></div>
        <div><img src="{{img}}" width="160px"/></div>
      </div>    
    script(type='text/javascript', src='javascripts/lib/jquery.js')
    script(type='text/javascript', src='javascripts/lib/handlebars.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?sensor=false')
    script(type='text/javascript', src='javascripts/main.js')
    script(type='text/javascript', src='javascripts/signin.js')
body
    div(class="g-signin2",data-onsuccess="onSignIn")
    div#map-canvas